# Package dependancies
Django>=2.2, <4.1
hawk-server==0.0.12
django-hawk>=1.1.1, <2.0

# Testing
tox
freezegun
coverage
factory_boy

# Linting and type checking
isort
flake8
black
mypy
django-stubs
types-freezegun
